[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/pugixml"]
	path = ext/pugixml
	url = https://github.com/zeux/pugixml
